{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "prettier/react"
  ],
  "rules" : {
    "arrow-body-style" : 'warn',
    "prettier/prettier": ["error", { "singleQuote": true }],
    "class-methods-use-this": ['error', {
      exceptMethods: [
        'render',
        'getInitialState',
        'getDefaultProps',
        'getChildContext',
        'componentWillMount',
        'componentDidMount',
        'componentWillReceiveProps',
        'shouldComponentUpdate',
        'componentWillUpdate',
        'componentDidUpdate',
        'componentWillUnmount',
      ],
    }],
  },
  "globals": {
    "fetch": false
  }
}
